@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primaryColor: #ff206e;
    --mainFont: 'Open Sans', sans-serif;
}

.text__primary {
    color: var(--primaryColor);
}

body {
    font-family: var(--mainFont);
}

.navbar .nav-link {
    color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--primaryColor);
}

.hero {
    background-image: url(./../images/hero/bg.jpg);
    background-size: cover;
    background-position: center -100px;
}

.hero a {
    color: var(--primaryColor);
}

.about,
.portfolio {
    background-image: url(./../images/About/bg.jpg);
    /* background-size: cover; */
}

.portfolio .nav-tabs .nav-item.show .nav-link,
.portfolio .nav-tabs .nav-link.active {
    color: var(--primaryColor);
}

.portfolio .nav-link {
    color: black;
}

.portfolio .nav-tabs .nav-link {
    border: none;
}

.portfolio .nav-tabs {
    border-bottom: none;
}